결과 창입니다.

<%= $user_avoid %>
<%= $user_taste %>
<%= $user_alcohol %>
<%= $user_amount %>
<%= $user_challenge %>

</br>
# 확인용으로 임시로 span태그로 감쌈, 나중에 이쁘게 바꿔주세요~~~~
<% $result_arr.each do |x| %>
  <span style = "color:#fff"><%= x.name %></br></span>
<% end %>


<section class="buttons">
  <div class="container">
    <a href = "/" class="btn btn-2">
        다시하기
    </a>
  </div>
</section>


///////////////
<% $recommend_arr.each do |x| %>
  <span style = "color:#fff"><%= x.name %></br></span>
<%end%>
