결과 창입니다.

<%= $user_avoid %>
<%= $user_taste %>
<%= $user_alcohol %>
<%= $user_amount %>
<%= $user_challenge %>

</br>
<% $result_arr.each do |x| %>
  <%= x.name %></br>
<% end %>

<section class="buttons">
  <div class="container">
    <a href = "/" class="btn btn-2">
        다시하기
    </a>
  </div>
</section>

///////////////
<% $recommend_arr.each do |x| %>
  <%= x.name %></br>
<%end%>