<div class="container">
  <div class="header">칵테일들</div>

    <input type="search" class="light-table-filter" data-table="table-class" placeholder="Filter">

    <!-- <div class="table table-striped table-class" id="all-cocktail">
      <div class="row">
        <% @cocktails.each do |c| %>
          <tr>
            <td><%=image_tag ("#{c["photo"]}"), :class => "coc-img"  %></td>
            <td><%=c.name%></td>
            <td><%=c.etc%></td>
            <td><%=c.base%></td>
            <td><%=c.about%></td>
          </tr>
        <% end %>
      </div>
    </div> -->


   <div class="row">
      <div class="column">
        <div class="coc-content">
            <% for i in (2..105) %>
              <%= image_tag ("/images/#{i}.png"), :class=> "coc-img"%>
            <% end %>
            <% @cocktails.each do |item| %>
              <div class="coc-name">
                <%= item.name %>
              </div>
            <% end %>
              
          </div>
      </div>
    
  </div>


  



  <div class="sec">
    <a href = "/home/index" class="btn3">
      돌아가기
    </a>
  </div>
</div>

    <%# @cocktails.in_groups_of(3).each do |group| %>
      <div class="row">
          <%# group.each do |item| %>
            <div class="column">
              <div class="coc-content">
                <div class="coc-img">
                  <%#=image_tag ("#{item["photo"]}"), :class=>"coc-img" %>
                </div>
                <div class="coc-name">
                  <%#= item.name%>
                </div>
              </div>
            </div>
          <%# end %>
      </div>
    <%# end %>
<script>
  (function(document) {
    'use strict';

    var LightTableFilter = (function(Arr) {

      var _input;

      function _onInputEvent(e) {
        _input = e.target;
        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
        Arr.forEach.call(tables, function(table) {
          Arr.forEach.call(table.tBodies, function(tbody) {
            Arr.forEach.call(tbody.rows, _filter);
          });
        });
      }

      function _filter(row) {
        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
      }

      return {
        init: function() {
          var inputs = document.getElementsByClassName('light-table-filter');
          Arr.forEach.call(inputs, function(input) {
            input.oninput = _onInputEvent;
          });
        }
      };
    })(Array.prototype);

    document.addEventListener('readystatechange', function() {
      if (document.readyState === 'complete') {
        LightTableFilter.init();
      }
    });

  })(document);

</script>
